@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #1A1A1A;
  --color-vampire: #8B0000;
  --color-werewolf: #1B4332;
  --color-mage: #0D2CCC;
  --color-hunter: #D9480F;

  --font-headline: "EB Garamond", serif;
  --font-body: "Hanken Grotesk", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #e5e7eb;
    font-family: var(--font-body);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headline);
  }
}
